// set custom hex colors
$siteBgColorCustom:    #FEFFFF;   // white
$sidebarBgColorCustom: #FCECEA;   // cyclamen
$textColorCustom: #404040;        // deep gray
$sidebarTextColorCustom: #404040; // deep gray
$headlineColorCustom: #0071B8;    // french blue
$headingColorCustom: #0071B8;     // french blue
$bodyLinkColorCustom: #121A54;    // royal blue dark
$navLinkColorCustom: #0071B8;     // french blue
$sidebarLinkColorCustom: #2F7392; // deep blue
$footerTextColorCustom: #2F7392;  // deep blue
$buttonTextColorCustom: #F6F5ED;  // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #FC4936;    // deep blue
$buttonHoverBgColorCustom: #0071B8;// french blue
$borderColorCustom: #FC4936;      // orange soda
